<div th:fragment="filtre-ByMois" class="col-md-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h2 class="mt-3 text-center">*** FILTER BY MONTH  *** </h2>
      <form class="forms-sample" th:object="${mois_form}" th:action="@{/employee-Salary}" method="GET">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Month</label>
              <div class="col-sm-8">
                <select th:field="*{mois}" class="form-control">
                  <option value="0">Choisir Month </option>
                  <option th:each="m : ${mois}" th:value="${m.numero}" th:text="${m}"></option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Year</label>
              <div class="col-sm-8">
                <select th:field="*{annees}" class="form-control">
                  <option value="0">Choisir Year</option>
                  <option th:each="annee : ${annees}" th:value="${annee}" th:text="${annee}"></option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="col text-right">
              <button type="submit" class="btn btn-primary">Filter</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<!--FILTRE ANNEE page 'salary/salary-statistic' -->
<div th:fragment="filtre-ByYear" class="col-md-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h2 class="mt-3 text-center">*** FILTER BY YEARS *** </h2>
      <form class="forms-sample" th:action="@{/salary-statistic}" method="GET">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">YEARS</label>
              <div class="col-sm-8">
                <select name="annees" class="form-control">
                  <option value="0">Select Year</option>
                  <option th:each="a : ${annees}" th:value="${a}" th:text="'YEARS '+${a}"></option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="col text-right">
              <button type="submit" class="btn btn-primary">Filter</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>