<div th:fragment="earning-deduction" class="col-md-12 grid-margin stretch-card" id="earnings-deductions">
  <div class="card">
    <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <div class="d-flex justify-content-between">
        <h2 class="title ml-4">EARNINGS & DEDUCTIONS (2025) ***</h2>
        <button class="btn btn-primary mr-4" onclick="show('total-salary', ['earnings-deductions'])">TOTAL SALARY</button>
      </div>
      <canvas id="sales-chart" width="480" height="150" style="display: block; height: 222px; width: 445px;" class="chartjs-render-monitor"></canvas>
    </div>
  </div>
</div>