<head th:fragment="common-head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NEW-APP</title>
    
    <link rel="stylesheet" th:href="@{/vendors/feather/feather.css}">
    <link rel="stylesheet" th:href="@{/vendors/ti-icons/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/js/select.dataTables.min.css}">
    <link rel="stylesheet" th:href="@{/css/vertical-layout-light/style.css}">
    <!--
      <link rel="shortcut icon" href="images/favicon.png" />
    -->
</head>