
<div th:fragment="navbar-top">
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo mr-5 h1" th:href="@{/dashboard}">NEW APP</a>
      <a class="navbar-brand brand-logo-mini" th:href="@{/dashboard}">N</a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="icon-menu"></span>
      </button>
      <ul class="navbar-nav mr-lg-2">
        <li class="nav-item nav-search d-none d-lg-block">
          <div class="input-group">
            <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
              <span class="input-group-text" id="search">
                <i class="icon-search"></i>
              </span>
            </div>
            <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
          </div>
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
            <i class="ti-user mt-n5 mr-3 text-primary"></i>
            <span class="text-primary mr-5" th:text="${user.full_name}"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item">
              <i class="ti-settings text-primary"></i> Settings
            </a>
            <a class="dropdown-item" th:href="@{/logout}">
              <i class="ti-power-off text-primary"></i> Logout
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div th:fragment="navbar-side">
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#dashboard" aria-expanded="false" aria-controls="dashboard">
          <i class="icon-bar-graph mt-n2 menu-icon"></i>
          <span class="menu-title">Dashboard</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="dashboard">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item mt-n2"> <a class="nav-link mt-2" th:href="@{/employee-Salary}">Employee & Salary</a></li>
            <li class="nav-item mt-n2"> <a class="nav-link mt-2" th:href="@{/salary-statistic}">Statistic Salary</a></li>
            <li class="nav-item mt-n2"> <a class="nav-link mt-2" th:href="@{/salary-evolution}">Salary Evolution</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#supplier" aria-expanded="false" aria-controls="supplier">
          <i class="ti-briefcase mt-n2 menu-icon"></i>
          <span class="menu-title">Supplier</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="supplier">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item mt-n2"> <a class="nav-link mt-2" th:href="@{/list/supplier}">Supplier List</a></li>
            <li class="nav-item mt-n2"> <a class="nav-link mt-2" th:href="@{/}">New Employee</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" th:href="@{/list/facture}">
          <i class="ti-money mt-n2 menu-icon"></i>
          <span class="menu-title">Purchase Invoice List</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/request/supplier/quotation}">
          <i class="ti-money mt-n2 menu-icon"></i>
          <span class="menu-title">Supplier Quotation</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#employee" aria-expanded="false" aria-controls="employee">
          <i class="ti-user mt-n2 menu-icon"></i>
          <span class="menu-title">Employee</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="employee">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item mt-n2"> <a class="nav-link mt-2" th:href="@{/employee-list}">Employee List</a></li>
            <li class="nav-item mt-n2"> <a class="nav-link mt-2" th:href="@{/}">New Employee</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="ti-server mt-n2 menu-icon"></i>
          <span class="menu-title">Databases</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item mt-n2"> <a class="nav-link mt-2" th:href="@{/database/import-file}">import file</a></li>
            <li class="nav-item mt-n2"> <a class="nav-link mt-2" th:href="@{/database/init-database}">Init DATABASE</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</div>