<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>NEW-APP</title>
  <link rel="stylesheet" th:href="@{vendors/feather/feather.css}">
  <link rel="stylesheet" th:href="@{vendors/ti-icons/css/themify-icons.css}">
  <link rel="stylesheet" th:href="@{vendors/css/vendor.bundle.base.css}">
  <link rel="stylesheet" th:href="@{css/vertical-layout-light/style.css}">
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <h2 class="text-center">Se Connecter</h2>
              <form class="pt-3" th:object="${login_form}" th:action="@{/login}" method="POST">
                <div class="form-group">
                  <input type="text" th:field="*{usr}" th:value="*{usr}" class="form-control form-control-lg" placeholder="Username">
                </div>
                <div class="form-group">
                  <input type="password" th:field="*{pwd}" th:value="*{pwd}" class="form-control form-control-lg" placeholder="Password">
                </div>
                <div class="mt-3">
                  <button class="btn btn-block btn-info btn-lg font-weight-medium auth-form-btn" type="submit">SIGN IN</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script th:src="@{vendors/js/vendor.bundle.base.js}"></script>
  <script th:src="@{js/off-canvas.js}"></script>
  <script th:src="@{js/hoverable-collapse.js}"></script>
  <script th:src="@{js/template.js}"></script>
  <script th:src="@{js/settings.js}"></script>
  <script th:src="@{js/todolist.js}"></script>
</body>

</html>
