<div class="row">
  <div th:fragment="net-pay" class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="mt-3 text-center">*** FILTER BY YEARS *** </h2>
        <form class="forms-sample" th:action="@{/salary-evolution}" method="GET">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">YEARS</label>
                <div class="col-sm-8">
                  <select name="annees" class="form-control">
                    <option value="">Select Year</option>
                    <option th:each="a : ${annees}" th:value="${a}" th:text="'YEARS '+${a}"></option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="col text-right">
                <button type="submit" class="btn btn-primary">Draw graph Chart</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div th:replace="~{pages/graphique/net-pay :: net-pay}"></div>
  <div th:replace="~{pages/graphique/earning-deduction :: earning-deduction}"></div>

</div>